@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville:wght@700&family=Open+Sans&display=swap");
html{
    max-width: 500px;
}
img{
    max-width: 100%;
   /* min-width: 300px;*/
    min-height: 210px;
    max-height: 75%;
}
#logo{
    max-width: 128px;
    max-height: 128px;
}
body{
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3{
    font-family: "Libre Baskerville", serif;
  }
  h1{
      font-size: 24px;
  }
header{
    background-color: #008789;
    display: flex;
    padding: 1rem;
    
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    
}
header>h1,header>img,header>button{
    flex:1;
    text-align: center;

}

header>img{
    max-width: 96px;
}
header>h1{
    margin-top: 2rem;
}
button{
    background-color: #008789;
    border-style: none;
}
body{
    background-color: white;
}
/*.navigation{
    display: block;
}*/
.menu{
    display: block;/*none*/
}
.hide{
    display: none;
}
nav{
    max-width:1250px;
    
}
nav ul{
    padding: 0%;
    margin: 0%;
}
nav ul li{
    list-style: none;
    padding: .8rem 2%;
    margin: 1rem;
}
nav ul li a{
    text-decoration: none;
    padding: .8rem 2%;
    margin: 1rem;
    color: #0c0c0c;
   
    
    
}
nav ul li a:hover{
    background-color:#008789;
    color: white;
 
}
#linkbyu{
    color:white;
    text-decoration: none;
    
   
}
.box{
    background-color:white;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-forecast-large{
    display: none;
}

.box-forecast-small{
    border:black solid 1px;
   
  

}
.titulo{
    border-bottom: black solid 1px;
    padding-left: 1rem;
    padding-bottom 1rem;
    padding-top: 1rem;
    height: 3rem;
    background-color: #008789;
    margin-top: 0px;
   
}
.city{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #008789;
    margin-bottom: 0px;
    border: black solid 1px;
}
.secundary-img1{
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    top: 3px;
}
.contact{
    padding: 1rem;
    text-align: center;
}
.contact img{
    width: 320px;
   
}
.contact .social img{
    width: 64px;
   
}
footer{
    background-color: #002776;
    color: white;
    text-align: center;
}
#active{
    display: none;
    background-color:#009c3b;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1em;
    padding-bottom: 1rem;
    color:white;
    font-size: 12px;
}
#label{
    font-style: oblique;
    
    color: red;
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    left:60%;
    top: -15rem;
}
.box{

     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
     max-width: 960px;
     gap: 10px;
     margin-left: auto;
     margin-right: auto;
     grid-template-rows: repeat(auto-fill,minmax(210px,1fr));
   
}


